@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.page_header {
  width: 1040px;
  background-color: #ffe17f;
  padding: 0 60px;
}

.page_header ul {
  list-style-type: none;
  padding: 0;
}

.header_search-user_container,
.header_menu_list {
  display: flex;
}

.header_search_form {
  margin-right: 26px;
}

/*Не пойму, как убрать промежуток между "Полем ввода" и "Кнопкой", поэтому снижен width на 4px (на размер border)*/
.header_search_form input {
  width: 353px;
  padding: 0;
  background-color: #ffe17f;
}

.header_search_form button {
  width: 160px;
  padding: 0;
  background-color: #ffe17f;
}

.log_in {
  width: 231px;
  margin: 0 26px;
}

.navigation_user_list {
  display: flex;
  width: 240px;
  justify-content: space-around;
  margin-left: auto;
}

.navigation_menu_list {
  display: flex;
  width: 1040px;
}

.navigation_menu_item:nth-child(1) {
  width: 293px;
}

.navigation_menu_item:nth-child(2) {
  width: 125px;
  margin-left: auto;
  margin-right: 47px;
}

.navigation_menu_item:nth-child(3) {
  width: 121px;
  margin-right: 51px;
}

.navigation_menu_item:nth-child(4) {
  width: 128px;
}

.main_index {
  flex-grow: 1;
}

.search {
  font-size: 16px;
  line-height: 20px;
}

.search_button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.page_header a,
.main_index a:not(.contacts_phone) {
  color: #000000;
  text-decoration: none;
}

.navigation_menu_item,
.slider_more-detailed,
.index_benefits_button,
.about-shop_link {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

/*В дальнейшем цвет фона нужно будет убрать.*/
.slider_number {
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
  background-color: #ffe17f;
}

.slider_promo,
.index_benefits_item h3,
.about-shop h3,
.mailing-list_title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider_text {
  color: #444444;
}

.slider_features dt {
  color: #444444;
  font-size: 16px;
}

.slider_features dd {
  font-size: 36px;
}

.index_category_item {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
}

.index_benefits_current {
  color: #ffe17f;
  background-color: #000000;
}
/*Цвет фона в дальнейшем нужно перенести.*/
.index_benefits_item {
  color: #444444;
  background-color: #f0f0f0;
}

.delivery_wrapper {
  width: 1160px;
  background-color: #f0f0f0;
  text-align: center;
}

.delivery {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-shop p {
  color: #444444;
}

.delivery_line_item {
  font-weight: 700;
  line-height: 20px;
}

.about-shop h4 {
  color: #444444;
  font-weight: 700;
  font-size: 24px;
}

.contacts_address_text {
  font-style: normal;
}

.contacts_phone {
  color: #444444;
  font-style: normal;
}

.contacts_timetable_item {
  color: #444444;
}

.mailing-list_form {
  color: #444444;
}

.email_button {
  color: #000000;
  line-height: 21px;
  text-transform: uppercase;
}

.footer_index {
  color: #ffffff;
  background-color: #444444;
  font-size: 16px;
  line-height: 20px;
}

.footer_address_text {
  font-style: normal;
}

.footer_index a:not(.footer_phone) {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer_navigation_item {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.footer_phone {
  color: #ffffff;
}

.bread-crumbs h1 {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.main_catalog a:not(.pagination_link) {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.catalog_filter h2,
.select_container h2,
.pagination_show-more {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter_title {
  font-weight: 700;
  line-height: 20px;
}

.filter_item {
  font-size: 16px;
  line-height: 19px;
}

.filter_button,
.pagination_prev,
.pagination_next {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

.product_card_title {
  font-weight: 700;
  line-height: 20px;
}

.product_card_price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.pagination_button a {
  color: #000000;
  line-height: 21px;
  text-decoration: none;
}

.pagination_item a {
  color: #444444;
  font-size: 16px;
  text-decoration: none;
}
