@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*хэдер*/

.page_header {
  width: 1040px;
  position: relative;
  min-height: 300px;
  background-color: #ffe17f;
  padding: 0 60px;
  margin: 40px auto 0;
}

.page_header_container {
  position: absolute;
  top: -21px;
}

.logo {
  display: block;
  margin: 0;
  width: 145px;
  height: 36px;
}

.logo:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.logo:hover {
  opacity: 60%;
}

.logo:active {
  opacity: 30%;
  outline: none;
}

.page_header ul {
  list-style-type: none;
  padding: 0;
}

.header_search-user_container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.header_menu_list {
  display: flex;
  align-items: center;
}

.header_search {
  width: 517px;
  position: relative;
}

.header_search_form {
  display: flex;
}

.header_search_icon {
  position: absolute;
  color: #000000;
  z-index: 1;
  left: 17px;
  top: 12px;
}

.header_search_form input {
  width: 357px;
  height: 40px;
  padding: 0;
  padding-left: 48px;
  background-color: #ffe17f;
  border: 2px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 50px 0 0 50px;
}

.header_search_form button {
  width: 160px;
  padding: 0;
  background-color: #ffe17f;
  border: 2px solid #000000;
  border-radius:  0 50px 50px 0;
  border-left: 1px solid #000000;
}

.header_menu_log-in {
  height: 40px;
}

.log-in {
  display: block;
  height: 30px;
  margin: 5px 26px;
}

.log-in:focus {
  outline: #AF4FFF solid 2px;
}

.log-in:hover {
  opacity: 0.6;
}

.log-in:active {
  outline: none;
  opacity: 0.3;
}

.header_menu_icon {
  padding-right: 12px;
}

.navigation_user_list {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  justify-content: space-between;
  align-items: center;
}

.navigation_user_item {
  display: block;
  min-width: 83px;
}

.navigation_menu_list {
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
  min-height: 50px;
  margin: 0;
}

/* Усреднил расстояние между элементами списка до 49px */
.navigation_menu_item {
  min-width: 128px;
  margin-right: 49px;
  display: flex;
  align-items: center;
}

.navigation_menu_item:first-child {
  width: 293px;
  margin-right: auto;
  display: block;
  position: relative;
}

.navigation_menu_icon {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 0;
  padding: 15px;
  border: 2px solid #000000;
  border-radius: 50% 50%;
  opacity: 0.3;
}

.navigation_menu_item:first-child a {
  display: block;
  height: 50px;
  position: relative;
}

.navigation_menu_item strong {
  box-sizing: border-box;
  position: absolute;
  padding-top: 15px;
}

.navigation_user_item a:focus,
.navigation_menu_item a:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.navigation_user_item a:hover,
.navigation_menu_item:not(:first-child)  a:hover {
  opacity: 0.6;
}

.navigation_user_item a:active,
.navigation_menu_item:not(:first-child)  a:active {
  outline: none;
  opacity: 0.3;
}

.navigation_menu_icon:hover {
  opacity: 1;
}

.navigation_menu_item:first-child a:active {
  outline: none;
  opacity: 1;
}

.navigation_menu_item:last-child {
  text-align: end;
}

.navigation_menu_item:last-child,
.navigation_menu_item:nth-child(5n) {
  margin-right: 0;
}

.search {
  font-size: 16px;
  line-height: 20px;
}

.header_search_form input:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
  z-index: 1;
}

.header_search_form input:disabled {
  opacity: 0.3;
}

.search_button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.search_button:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.search_button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search_button:active {
  background-color: #000000;
  color: #ffffff;
  outline: none;
}

.search_button:disabled {
  opacity: 0.3;
}

.page_header a,
.main_index a:not(.contacts_phone) {
  color: #000000;
  text-decoration: none;
}

.navigation_menu_item,
.index_benefits_button,
.about-shop_link {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

/*мэйн*/

.main_index {
  flex-grow: 1;
}

/*Слайдер товаров*/

.main_slider {
  width: 1160px;
  margin: 0 auto;
}

.slider_properties_list {
  list-style-type: none;
  padding: 0;
}

.slider_item {
  display: flex;
}

/* В будущих разделах обучения следующие два свойства будут удалены/изменены, когда будет реализован полностью слайдер, его позиционирование и пагинация */

.slider_pagination,
.slider_button_arrows {
  display: none;
}

.slider_number {
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
  background-color: #ffe17f;
  display: none;
}

.slider_text_wrapper {
  width: 560px;
  margin-left: 40px;
}

.slider_promo,
.index_benefits_title,
.about-shop h3,
.mailing-list_title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider_promo {
  margin: 0;
  margin-top: 121px;
}

.slider_text {
  margin: 29px 0 51px;
  color: #444444;
}

/* Следующие свойства dt/dd будут меняться местами и позиционироваться позже... Скорее всего на гридах. Как сделать это на флексах не могу придумать. */

.slider_features dt {
  color: #444444;
  font-size: 16px;
  min-width: 140px;
}

.slider_features dd {
  font-size: 36px;
  margin: 0;
  width: 140px;
}

.slider_more-detailed {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  display: block;
  width: 220px;
  height: 20px;
  text-align: center;
  padding: 10px 5px;
}

/*Секция категорий*/

.index_category {
  width: 1160px;
  margin: 0 auto;
}

.index_category_list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  list-style-type: none;
  padding: 0;
  min-height: 253px;
  margin: 70px 0;
}

.index_category_item {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  width: 160px;
  height: 60px;
  position: relative;
}

.index_category_icon {
  position: absolute;
  top: 0;
  background-color: #ffe17f;
  left: 0;
}

.index_category_item a {
  display: block;
  min-height: 60px;
  width: 160px;
  padding-top: 193px;
}

.index_category_item a:focus-within {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.index_category_item:hover .index_category_icon {
  background-color: #FFC700;
}

.index_category_item a:active {
  opacity: 0.3;
  outline: none;
}

/*Слайдер преимуществ магазина*/

.index_benefits {
  background-color: #f0f0f0;
}
.index_benefits_container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.index_benefits_buttons {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.index_benefits_button {
  padding: 0;
}

.index_benefits_current {
  color: #ffe17f;
  background-color: #000000;
}

.index_benefits_list {
  list-style-type: none;
  padding-left: 116px;
  margin: 0;
}

.index_benefits_item p{
  color: #444444;
}

.index_benefits_title {
  margin: 73px 0 34px;
}

.index_benefits_text {
  margin: 0;
}

.delivery {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 70px auto;
  width: 1160px;
  height: 100px;
  display: flex;
  background-color: #f0f0f0;
  position: relative;
  justify-content: center;
}

.delivery_truck_icon {
  padding: 34px 39px;
  background-color: #ffe17f;
  position: absolute;
  left: 0;
  top: 0;
}

.delivery span {
  align-self: center;
}

.delivery_information_icon {
  position: absolute;
  right: 42px;
  top: 30px;
  padding: 14px 18px;
  border: 1px solid rgba(220, 220, 220, 0.5);
  border-radius: 50% 50%;
  background-color: rgba(220, 220, 220, 0.5);
  fill: rgba(0, 0, 0, 0.3);
}

.delivery:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.delivery:hover .delivery_truck_icon {
  background-color: #FFC700;
}

.delivery:hover .delivery_information_icon {
  fill: rgba(0, 0, 0, 1);
}

.delivery_line_list {
  padding-left: 34px;
}

.delivery_line_item {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 19px;
}

.delivery_line_item:last-child {
  margin-bottom: 40px;
}

/*Секция информации*/

.about-shop {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.about-us_wrapper {
  width: 520px;
  margin-right: 108px;
  position: relative;
}

.about-us {
  width: 520px;
  margin: 40px 0 48px;
}

.about-us_text {
  width: 497px;
  color: #444444;
}

.delivery_line_list {
  padding-left: 36px;
  list-style-type: none;
}

.delivery_line_item {
  position: relative;
}

.delivery_line_item::before {
  position: absolute;
  left: -26px;
  top: 6px;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffe17f;
  border: 1px solid #ffe17f;
  border-radius: 50% 50%;
}

.about-us_link {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  display: block;
  width: 258px;
  height: 20px;
  padding: 10px 6px;
  position: relative;
  text-align: center;
}

.about-us_link_shadow {
  position: absolute;
  content: "";
  width: 270px;
  height: 8px;
  top: 16px;
  left: 0;
  z-index: -1;
}

.about-us_link:focus,
.about-shop_link:focus {
  outline: #AF4FFF solid 2px;
}

.about-us_link:hover,
.about-shop_link:hover {
  background-color: #FFE17F;;
}

.about-us_link:active,
.about-shop_link:active {
  background-color: #FFCC33;
  outline: none;
}

.about-us_link:disabled {
  opacity: 0.3;
}

.contacts_wrapper {
  width: 532px;
  position: relative;
}

.about-shop_icon {
  position: absolute;
  top: 0;
  left: 0;
}

.contacts {
  margin: 40px 0 48px;

}

.contacts_text {
  margin: 0;
}

.about-shop h4 {
  color: #444444;
  font-weight: 700;
  font-size: 24px;
}

.contacts_subtitle {
  margin: 30px 0 15px;
}

.contacts_address_text {
  margin: 0;
  font-style: normal;
}

.contacts_phone {
  color: #444444;
  font-style: normal;
}

.contacts_timetable_list {
  padding: 0;
  list-style-type: none;
}

.contacts_timetable_item {
  color: #444444;
}

.about-shop_link {
  display: block;
  width: 247px;
  height: 20px;
  padding: 10px 6px;
  margin-bottom: 70px;
  position: relative;
  text-align: center;
}
.contacts_link_shadow {
  width: 259px;
}

/*Рассылка*/

.mailing_container {
  background-color: #f0f0f0;
}

.mailing_wrapper {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}

.mailing_text_block {
  display: flex;
}

.mailing-list_title {
  width: 348px;
  margin-right: 252px;
  margin-top: 64px;
  margin-bottom: 144px;
}

.mailing-list_text {
  margin-top: 64px;
  margin-bottom: 144px;
}

.mailing-list_form {
  display: flex;
  position: relative;
}

.mailing-list_form input {
  background-color: #f0f0f0;
  width: 541px;
  height: 52px;
  padding: 0 0 0 16px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  margin-bottom: 56px;
  position: relative;
  color: #444444
}

.mailing-list_form input::placeholder {
  color: rgba(68, 68, 68, 0.5)
}

.email_icon {
  position: absolute;
  top: 21px;
  left: 537px;
}

.mailing-list_form input:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.mailing-list_form input:hover {
  background-color: #dcdcdc;
}

.mailing-list_form input:invalid {
  border-bottom: 3px solid #FF3D3D;
  outline: #FF3D3D solid 2px;
}

.mailing-list_form input:disabled {
  opacity: 0.3;
}

.email_button {
  width: 253px;
  height: 55px;
  border: 3px solid #c4c4c4;
  margin-right: 190px;
  padding: 0;
}

.email_button:focus {
  outline: rgba(175, 79, 255, 1) solid 2px;
  outline-offset: 2px;
}

.email_button:hover {
  background-color: #000000;
  border: none;
}

.email_button:hover strong{
  color: white;
}

.email_button:active {
  background-color: #000000;
  border: none;
  outline: none;
}

.email_button:active strong{
  color: white;
  opacity: 0.3;
}

.email_button:disabled {
  opacity: 0.3;
}

.email_button strong{
  font-family: "raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  line-height: 21px;
  text-transform: uppercase;
}

.mailing-list_form span {
  width: 160px;
  height: 30px;
  padding: 13px 0 14px;
  margin-bottom: 56px;
  text-align: end;
  position: relative;
}

.free_tick-big {
  position: absolute;
  top: 20px;
  left: 0;
}

/*Футер*/

.page_footer {
  color: #ffffff;
  background-color: #444444;
  font-size: 16px;
  line-height: 20px;
}

.page_footer_container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer_logo {
  display: block;
  margin-top: 62px;
  margin-bottom: 35px;
  width: 145px;
  height: 36px;
}

.footer_logo:focus {
  outline: rgba(175, 79, 255, 1) solid 2px;
  outline-offset: 2px;
}

.footer_logo:hover {
  opacity: 0.6;
}

.footer_logo:active {
  opacity: 0.3;
  outline: none;
}

.footer_address {
  width: 234px;
  position: relative;
}

.footer_address_text {
  font-style: normal;
  margin-bottom: 64px;
}

.footer_address_line {
  position: absolute;
  left: 0;
  top: 237px;
}

.footer_nav-social_block {
  width: 444px;
}

.footer_navigation_list {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.footer_navigation_item:nth-child(1) {
  width: 125px;
}

.footer_navigation_item:nth-child(2) {
  width: 121px;
}

.footer_navigation_item:nth-child(3) {
  width: 128px;
}

.footer_social_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  margin-bottom: 51px;
}

.footer_social_item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50% 50%;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  margin-bottom: 10px;
}

.footer_social_item:last-child,
.footer_social_item:nth-child(8n) {
  margin-right: 0;
}

.footer_social_item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_social_vk {
  position: absolute;
  top: 14px;
  left: 13px;
}

.footer_social_youtube {
  position: absolute;
  top: 15px;
  left: 12px;
}

.footer_social_tw {
  position: absolute;
  top: 15px;
  left: 12px;
}

.footer_social_item a:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.footer_social_item:hover {
  background-color: #FFC700;
}

.footer_social_item:active .footer_social_icon {
  opacity: 0.3;
  outline: none;
}

.footer_social_item a:active {
  background-color: #FFC700;
  border-radius: 50% 50%;
  outline: none;
}

.footer_other {
  width: 175px;
  height: 116px;
}

.page_footer a:not(.footer_phone) {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer_navigation_list {
  margin-top: 137px;
  margin-bottom: 62px;
}

.footer_navigation_item {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.footer_phone {
  display: block;
  color: #ffffff;
  margin-top: 140px;
  margin-bottom: 63px;
}

.footer_htmlacademy_link {
  display: block;
  text-align: end;
}

.footer_htmlacademy_logo {
  fill: #FFC700;
}

.footer_htmlacademy_link {
  margin: 0;
  display: block;
  width: 115px;
  height: 33px;
  margin-left: auto;
}

.footer_htmlacademy_link:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.footer_htmlacademy_link:hover .footer_htmlacademy_logo {
  fill: #ffffff;
}

.footer_htmlacademy_link:active .footer_htmlacademy_logo {
  fill: #ffffff;
  opacity: 0.3;
}

.footer_htmlacademy_link:active {
  outline: none;
}

.footer_navigation_list a:focus,
.footer_phone:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.footer_navigation_item a:hover,
.footer_phone:hover  {
  color: #ffc700;
  box-shadow: 0 2px 0 0 #ffc700;
  text-decoration: none;
}

.footer_navigation_item a:active,
.footer_phone:active  {
  color: #ffc700;
  box-shadow: 0 2px 0 0 #ffc700;
  opacity: 0.3;
  outline: none;
  text-decoration: none;
}

/* Дополнения в хэдер страницы каталога */

.user-name {
  width: 146px;
  margin-left: 25px;
  margin-right: 28px;
  display: block;
  padding-left: 0;
  padding-right: 0;
}

.log_out {
  width: 57px;

}

.log-out_text {
  color: rgba(0, 0, 0, 0.3);
}

/* мэйн страницы каталога */

.main_catalog a:not(.pagination_link) {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.bread-crumbs {
  margin: 0 auto;
  width: 1040px;
}

.bread-crumbs h1 {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 35px 0 16px;
}

.bread-crumbs_list {
  display: flex;
  gap: 36px;
  padding: 0;
  margin: 0 0 35px;
  list-style-type: none;
}

.bread-crumbs_item {
  position: relative;
}

.bread-crumbs_item a:focus {
  position: relative;
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.bread-crumbs_item a:hover {
  position: relative;
  opacity: 60%;
}

.bread-crumbs_item a:active {
  position: relative;
  opacity: 30%;
  outline: none;
}

.bread-crumbs_icon {
  position: absolute;
  right: -20px;
  top: 12px;
  fill: grey;
}

.main_background_container {
  background-color: #f0f0f0;
}

.main_catalog_wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.catalog_filter {
  width: 200px;
  margin: 35px 60px;
}

.catalog_filter h2,
.select_container h2,
.pagination_show-more {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter_title {
  font-weight: 700;
  line-height: 20px;
}

.filter_item {
  font-size: 16px;
  line-height: 19px;
}

.filter_button,
.pagination_prev,
.pagination_next {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

.select_product-page_container {
  width: 840px;
}

.select_wrapper {
  display: flex;
  min-width: 760px;
  height: 70px;
  margin: 0 40px;
  justify-content: space-between;
}

.select_control {
  background-color: #f0f0f0;
  width: 141px;
  border: none;
  height: 30px;
  margin: auto 0;
}

.select_control:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.select_control:hover {
  opacity: 0.6;
}

.select_control:active {
  opacity: 0.3;
  outline: none;
}

.select_control:disabled {
  opacity: 0.1;
}

.sort-up_arrows_wrapper {
  width: 60px;
  display: flex;
}

.sort-up_arrows {
  position: relative;
  width: 30px;
  height: 30px;
  margin: auto 0;
}

.sort-up_arrow_icon {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.2;
}

.sort-up_arrows:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.sort-up_arrows:hover .sort-up_arrow_icon {
  opacity: 0.5;
}

.sort-up_arrows:active .sort-up_arrow_icon {
  opacity: 1;
}

.sort-up_arrows:active {
  outline: none;
}

.product-page_monopod {
  background-color: #ffffff;
  padding: 70px 40px 0;
}

.product_monopod_list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  width: 760px;
  gap: 44px 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product_monopod_card {
  position: relative;
}

.product-card_link {
  display: flex;
  width: 360px;
  height: 452px;
  flex-direction: column;
}

.product-card_text {
  display: flex;
  width: 360px;
  justify-content: space-between;
  padding-top: 32px;
}

.product-card_title {
  font-weight: 700;
  line-height: 20px;
  width: 226px;
  margin: 0;
}

.product-card_price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  align-self: flex-start;
}

.hidden {
  position: absolute;
  width: 210px;
  height: 20px;
  top: 45%;
  left: 20%;
  display: none;
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 5px;
}

.hidden_link_shadow {
  position: absolute;
  content: "";
  width: 220px;
  height: 8px;
  top: 16px;
  left: 0;
}

.hidden span {
  position: absolute;
}

.product-card_link:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.product-card_link:hover {
  opacity: 0.8;
}

.product-card_link:hover + .hidden,
.hidden:hover {
  display: block;
  outline: none;
}

.pagination_container {
  display: flex;
  flex-direction: column;
  margin: 44px 0 0;
  gap: 44px;
}

.pagination_show-more {
  width: 760px;
  height: 55px;
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}

.pagination_show-more:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
}

.pagination_show-more:hover {
  border-color: #000000;
}

.pagination_show-more:active {
  border-color: #000000;
  opacity: 0.3;
  outline: none;
}

.pagination_show-more:disabled {
  opacity: 0.3;
}

.pagination_wrapper {
  display: flex;
  width: 760px;
  background-color: #ebebeb;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 78px;
}

.pagination_list {
  display: flex;
  width: 200px;
  list-style-type: none;
  text-align: center;
}

.pagination_item {
  width: 40px;
}

.pagination_prev,
.pagination_next {
  width: 91px;
  padding: 25px;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.pagination_button a {
  color: #000000;
  line-height: 21px;
  text-decoration: none;
}

.pagination_item a {
  color: #444444;
  font-size: 16px;
  text-decoration: none;
}

.pagination_link {
  opacity: 0.3;
}

.pagination_link:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
  background-color: #f0f0f0;
}

.pagination_link:hover {
  opacity: 0.5;
}

.pagination_link:active {
  opacity: 1;
  outline: none;
}

.pagination_link:disabled {
  color: #444444;
  opacity: 0.6;
}

.pagination_prev:focus,
.pagination_next:focus {
  outline: #AF4FFF solid 2px;
  outline-offset: 2px;
  background-color: #f0f0f0;
}

.pagination_prev:hover,
.pagination_next:hover {
  background: #DCDCDC;
}

.pagination_prev:active,
.pagination_next:active {
  background: #DCDCDC;
  outline: none;
  opacity: 0.3;
}
